/* Classic Template http://www.templatemo.com/tm-488-classic */
body {
    color: #01020a;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    overflow-x: hidden;
}

.tm-thin-font {
    font-weight: 300;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    max-width: 1390px;
    overflow-x: hidden;
}

@media (max-width: 767px) {
    .tm-home-img-container {
        height: 200px; /* Adjust the height as needed */
    }
}

@media (max-width: 1390px) {
    .container-fluid {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.tm-header-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100px;
}

@media (min-width: 992px) {
    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
}

.tm-site-name {
    color: #ffffff;
    display: block;
    font-size: 2rem;
    font-weight: 400;
}

.tm-main-nav {
    font-size: 1.2rem;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-nav .nav-link {
    border-radius: 6px;
    color: black;
    padding: 10px 15px;
}

.nav-item.active .nav-link,
.nav-link:hover,
.nav-link:focus {
    color: #ffffff;
}

.tm-header {
    background-color: #4682B4;
    background-size: cover;
    background-position: 10%;
    background-repeat: no-repeat;
    height: 100px;
}

.tm-header.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Ensure the navbar is on top of other content */
}

.tm-header-text {
    color: #ffffff;
    text-shadow: 1px 1px #282828;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tm-title-text {
    color: #000000;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tm-section {
    padding-top: 30px;
    padding-bottom: 70px;
}

.tm-home-img-container {
    background-image: url('../img/home-navbar.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    padding: 5px;
}

  .boxes > div{
    border :1px solid rgb(112, 112, 112);
    min-height : 100px;
    position: relative;
}

.carousel-inner {
    text-align: center; /* Center align the images */
}

.carousel-item img {
    display: inline-block; /* Make the images display as inline-block elements */
    margin: auto; /* Center the images horizontally */
}

.carousel-control-prev,
.carousel-control-next {
    top: auto; /* Adjust the position of the carousel controls */
    bottom: 50%; /* Center the controls vertically */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px; /* Adjust the size of the control icons */
    height: 30px;
}

.tm-title {
    margin-bottom: 1rem;
    line-height: 1.4;
}

.tm-subtitle {
    font-size: 1.4rem;
    max-width: 800px;
    margin: 0 auto 80px;
}

.tm-content-box {
    max-width: 100%; 
    margin-bottom: 1px; 
    padding-bottom: 10%; 
    margin-bottom: 10px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.75rem;
    line-height: 1.5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 1.65rem;
    line-height: 1.5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a,
button {
    transition: all 0.3s ease;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

/* Style for modal */
@media (min-width: 992px) {
    .modal-lg {
        max-width: 750px;
    }
    #detailsModal1 img {
        max-width: 100%;
        object-fit: cover;
        height: 400px;
    }
    #detailsModal2 img {
        max-width: 100%;
        object-fit: cover;
        height: 400px;
    }
    #detailsModal3 img {
        max-width: 100%;
        object-fit: cover;
        height: 400px;
    }
    #detailsModal4 img {
        max-width: 100%;
        object-fit: cover;
        height: 400px;
    }
    
}


.modal {
    cursor: pointer;
}

.modal-content {
    background-color: #f5f5f5;
    border: none;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: #000000;
    margin-bottom: -30px;
    margin-top: 15px;
}

.modal-dialog {
	position: center;
    top: -30px;
    max-width: fit-content;
}

.modal-body {
    padding: 20px;
}

.modal-body img {
    margin-bottom: 20px;
}

.button-wrapper {
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
    display: block;
    color: white;
    background-color: #0b34dc;
    align-items: center;
    border: none;
    border-radius: 20px;
}

.btn-primary {
    background-color: #0b34dc;
    border-color: #0b34dc;
    border: 1px;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s
}

.btn-primary:hover {
    background-color: #0222a5;
    border-color: #0222a5;
    color: white;
    color: a8ff78;
}

.btn-claim {
    background-color: #32CD32;
    border-color: #32CD32;
    border: 1px;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s

}

.btn-claim:hover {
    background-color: #44bc03;
    border-color: #44bc03;
    color: white;
}

.btn-confirm-yes {
    background-color: #5ede5c;
    color: white;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
}

.btn-confirm-no {
    background-color: #cccccc;
    color: white;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
}

.tm-paging-links nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.tm-paging-item {
    display:inline-flex;
    margin: 30 10px;
    margin-bottom: 10px;
}

.tm-paging-link {
    text-decoration: none;
    color: #002db3;
    padding: 5px 10px;
    border: 1px solid #002db3;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.tm-paging-link.active {
    background-color: #002db3;
    color: #ffffff;
}

.hidden {
    display: none;
}

.tm-mb-45 {
    margin-bottom: 45px
}

.tm-margin-b-15 {
    margin-bottom: 15px;
}

.tm-margin-b-20 {
    margin-bottom: 20px;
}

.tm-margin-b-30 {
    margin-bottom: 30px;
}

.tm-margin-b-40 {
    margin-bottom: 40px;
}

.tm-margin-t-big {
    margin-top: 90px;
}

.tm-margin-t-mid {
    margin-top: 60px;
}

.tm-margin-t-small {
    margin-top: 30px;
}

.tm-text-link {
    color: #006699;
    line-height: 2.8;
    text-decoration: underline;
}

.tm-overflow-auto {
    overflow: auto;
}

.tm-small-font {
    font-size: 1rem;
}

.tm-related-post {
    margin-bottom: 40px;
}

.tm-related-post:last-child {
    margin-bottom: 0;
}

.media-left {
    padding-right: 25px;
}

.media-body {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
}

.tm-media-description {
    margin-bottom: 0;
}

.tm-2-col-right {
    padding-left: 20px;
}

.tm-footer-links-container {
    padding-left: 10px;
}

.tm-footer-link {
    color: #CCCC66;
    line-height: 2.8;
    text-decoration: underline;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
    color: #1cd6dd;
    text-decoration: none;
}

.tm-footer-thumbnail {
    margin-bottom: 5px;
}

.tm-copyright-text {
    color: #999999;
    margin-bottom: 0;
}

hr {
    border-top: 1px solid #CCCCCC;
}

p {
    line-height: 1.5;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.tm-gray-bg {
    background-color: #CCCCCC;
    color: black;
    padding: 30px 20px 20px;
}

.tm-footer-content-box-title {
    margin-bottom: 10px;
}

.tm-img-post {
    margin-bottom: 30px;
}

.tm-aside-r {
    padding-left: 30px;
}

.form-control {
    border-radius: 0;
    font-size: 1.1rem;
    padding: 0.75rem 1rem;
}

.form-control:focus {
    border-color: #fefefe;
}

.tm-form-description {
    margin-top: 30px;
}

.tm-contact-form {
    padding-top: 20px;
}

#google-map {
    height: 333px;
    width: 100%;
    margin-top: 40px;
}

.tm-contact-right {
    padding-left: 30px;
}

.tm-p-small {
    font-size: 1rem;
}

@media (max-width: 1199px) {
    .tm-2-col-left {
        padding-right: 0;
        max-width: 660px;
    }

    .tm-2-col-right {
        padding-left: 0;
    }

    .tm-margin-b-40 {
        margin-bottom: 25px;
    }

    .tm-copyright-text {
        padding-top: 0;
    }

    .tm-gray-bg {
        padding: 20px 20px 10px;
    }

    .tm-footer {
        padding-bottom: 15px;
    }
}

@media (max-width: 991px) {
    .tm-2-col-left,
    .tm-2-col-right {
        margin: 0 auto;
        max-width: 660px;
    }

    .tm-margin-t-big {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
	.tm-main-nav {
		position: fixed;
		right: 0;
		top: 23px;
		z-index: 1000;
	}
	#tmNavbar .navbar-nav .nav-item { float: none; }
	#tmNavbar .navbar-nav .nav-link { padding: 10px 35px; }
	#tmNavbar {
		background: rgb(35, 34, 34);
		color: black; 
		border-radius: 6px;
	}
	#tmNavbar .navbar-nav .nav-item+.nav-item { margin-left: 0; }
	.navbar-toggler {
		background: rgb(255, 255, 255);
		border-color: #ffffff;
		color: #000000;
		display: block;
		margin-left: auto;
		margin-right: 0;
	}
	.navbar-toggler:focus { outline: none; }
	.tm-content-box { margin-bottom: 10px; }
	
	.tm-2-col-left {
		padding-right: 0;
		max-width: 660px;
	}

	.tm-2-col-right { padding-left: 0; }
	.tm-margin-b-40 { margin-bottom: 25px; }
	
	.tm-copyright-text { padding-top: 0; }
	.tm-gray-bg { padding: 20px 20px 10px; }
	.tm-footer { padding-bottom: 15px; }

	.tm-2-rows-sm-swap {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

    .tm-2-rows-sm-down-1 {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .tm-2-rows-sm-down-2 {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        margin-bottom: 0;
        margin-top: 30px;
    }

    .tm-sm-m-b {
        margin-bottom: 20px;
    }

    .tm-aside-r {
        padding-left: 15px;
    }

    .tm-aside-container {
        max-width: 310px;
        margin: 0 auto;
    }

    .tm-contact-related-posts-container {
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 543px) {
    .tm-xs-m-t {
        margin-top: 20px;
    }

    .tm-btn {
        padding: 10px 30px;
    }
}

@media (max-width: 510px) {
    .media {
        max-width: 240px;
    }

    .media-left {
        display: block;
        margin-bottom: 20px;
    }

    .tm-section {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .tm-margin-b-40 {
        margin-bottom: 15px;
    }

    .tm-content-box {
        margin-bottom: 10px;
    }

    .tm-margin-t-mid {
        margin-top: 30px;
    }

    .tm-footer-content-box {
        margin-bottom: 10px;
    }

    #google-map {
        margin-top: 25px;
    }

    .tm-map-section {
        margin-top: 50px;
    }

    .tm-contact-related-posts-container {
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .boxes {
        grid-template-columns: 1fr; /* Change to one column layout for mobile */
    }
}

@media (min-width: 768px) {
    .boxes {
        grid-template-columns: repeat(2, 1fr); /* Two columns layout for small screens */
    }
}

@media (min-width: 992px) {
    .boxes {
        grid-template-columns: repeat(4, 1fr); /* Four columns layout for larger screens */
    }
}